body {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  color: #222;
  background-color: #eeeeee;
  /* BG */
}

.white {
  background-color: #fffff8;
}
.blue-dark {
  background-color: #003060;
}
.important1 {
  background-color: #4856bb;
}
.blue-lite {
  background-color: #6bcce8;
}
/* Colour priority */
.important2 {
  background-color: #fff756;
}
.important3 {
  background-color: #6be87a;
}
.over-due {
  background-color: #e64b4b;
  
}

.strike {
  font-weight: bold;
  text-decoration-line: line-through;
  text-decoration-color: #363636;
  text-decoration-thickness: 2px;
}
.font-display {
  font-size: 92px;
  font-weight: bold;
}

.card {
  /* max-width: 300px;
  min-height: 200px; */
  display: flex;
  flex-direction: column;

  /* max-width: 500px;
  height: 300px; */
  min-width: auto;
  max-width: 20vw;
  padding: 24px;

  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(24px);
}

.main {
  align-items: center;
  align-content: center;
  display: absolute;
  position: relative;
  text-align: center;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

.bg {
  background-image: url("./bg-mosaic.jpg");
  object-fit: cover;
}

input {
  height: 2.5vh;
  width: 40vw;
  background-color: #fbfbff;
  padding: 8px;
  margin: 0px;
  appearance: 0;
  border: solid #7a4aff 1px;
  color: #222;
  border-radius: 12px;
}

.userAccounts {
  flex-direction: row;
  display: inline-flex;
  gap: 24px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2 solid #4856bb;
  margin: 4px;
}

.user-field {
  display: inline-flex;
  flex-direction: column;
  font-weight: bold;
}

.input-field {
  padding: 8px;
  top: 0;
  left: 0;
  color: #151515;
  text-align: left;
  flex-direction: column;
  display: inline-flex;
  margin-bottom: 12px;
}

.form-field {
  padding: 8px;
  top: 0;
  left: 0;
  color: #151515;
  text-align: left;
  flex-direction: column;
  display: inline-flex;
  min-width: 15vw;
  transition: all 0.6s;
}

.nav {
  flex-wrap: wrap;
  flex-direction: column;
  align-content: start;
  display: block;
  font-weight: bold;
  font-size: 14px;
  background-color: #3053ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 30px;
  align-items: center;
  margin: 0px;

  width: 12vw;
  height: 100vh;
}

.navLinks {
  margin: 32px 0 0 0;
  color: #efefef;
  text-decoration: none;
}

.navLink:hover {
  margin: 32px 0 0 0;
  font-weight: bold;
  color: #ffcaf0;
  cursor: pointer;
  background-color: #333;
}

.Section {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  height: 100vh;
  display: inline-flex;
  position: absolute;
}

.mainSection {
  position: relative;
  display: inline-flex;
  gap: 12px;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  gap: 12vw;
  align-items: center;
  align-content: center;
}

.btn-area {
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: relative;
}

.label {
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.cta-btn {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  padding: 10px 30px;
  border: solid #7a4aff 2px;
  transition: 0.6s;
  transform: translateY(0);
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  letter-spacing: 1px;
  margin: 12px 12px 0px 0px;
  gap: 12px;
}

.cta-btn:hover {
  transition: 1000ms;
  padding: 10px 24px;
  transform: translateY(-0px);
  background-color: #eeeeee6a;
  border: solid 1px #ffffff;
  cursor: pointer;
  background-color: #7a4aff;
  color: #fff;
  letter-spacing: 0;
}

span {
  color: #7a4aff;
  text-decoration: underline;
}

.todo-item {
  align-items: center;
  height: 3vh;
  width: 40vw;
  padding: 4px;

  border: 1px solid #3d3d3d3c;
  border-radius: 14px;
  background-color: #ffffff73;

  margin: 2px;
  font-size: 12px;
  letter-spacing: 0.5px;
  /* position: relaive; */
flex-wrap: nowrap;
  display: inline-flex;
  word-break: break-all;
  overflow: hidden;
  /* create word limit to avoid word breaking  & multi lines */
}

.todo-item:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px 1px #868686ae;
  /* backdrop-filter: blur(32px); */
}

.complete {
  padding: 0;
  width: 12px;
  height: 12px;
  margin: 4px;

  border: solid #7a4aff 1px;
  /* float to the right of the element */
  right: 4%;
  position: absolute;
}
.complete:hover {
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 4px;

  border: solid #9872ff 1px;
  transition: all 0.3s ease;
}

.delete {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  border: solid #ff4141 2px;
  transition: all 0.3s ease;
  /* float to the right of the element */
  position: absolute;
  right: 0;
  align-items: center;
  text-align: center;
  /* reste all button styles for the dlete component button */
  display: flex;
}

.unbutton {
  all: unset;
}

.delete:hover {
  width: 44px;
  height: 24px;
}

.category {
  width: 24px;
  height: 24px;
  margin: 4px;
}

.items-list {
  flex-direction: column;
  gap: 2px;
}


/* check box stuff */
.check {
  width: 24px;
  
}

.icon-s{
  width: 16px;
}

/* colour/ priority selection elements */
